.nav-link {
  margin-right: 55px;
}
.profile-icon {
  margin-right: 14px;
}
.profile-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.navbar-brand {
  padding-top: 0.62rem;
  padding-bottom: 0.62rem;
  padding-left: 29px;
}

.search-container {
  height: 42px;
  .search-icon {
    position: absolute;
    z-index: 9999;
    top: 15px;
    left: 1.25rem;
  }
  .search-input {
    padding-left: 48px;
    font-size: 14px;
    line-height: 16.41px;
    border-radius:0.5rem !important;
    background-color: #f1f1f1;
    :focus {
      outline: 0;
      background-color: #f1f1f1;
      outline: 0;
      border: 0;
      box-shadow: none;
    }
    ::placeholder {
      color: #c0c0c0;
    }
    ::-moz-placeholder {
      color: #c0c0c0;
    }
    ::-webkit-input-placeholder {
      color: #c0c0c0;
    }
  }
}
.details {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .question-icon {
    height: 1.25rem;
  }
  .bell-icon {
    height: 1.25rem;
  }
  .profile-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .profile-detail {
      margin-left: 5px;
      .username {
        font-size: 14px;
        line-height: 16.5px;
        color: white;
        font-weight: 500;
      }
      .role {
        font-size: 0.75rem;
        line-height: 15px;
        color: white;
      }
    }
  }
}
