.nav-link {
  margin-right: 55px;
}
.profile-icon {
  margin-right: 14px;
}
.profile-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.navbar-brand{
  padding-top: 10px;padding-bottom: 10px;padding-left: 29px;
}