.manifest-container {
  flex: 0.5;
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #79747e;
  }
}
.invoice-container {
  flex: 0.5;
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #79747e;
  }
}

.btn-right-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border-radius: 24px;

  width: 183px;

  background: rgba(120, 190, 32, 0.1);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  /* Grey/02 */

  color: #616161;
}
