.manifest-container {
  flex: 0.5;
  .title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    color: #79747e;
  }
}
.invoice-container {
  flex: 0.5;
  .title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    color: #79747e;
  }
}

.btn-right-panel {
  padding: 0.62rem 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid #dadada;
  margin-top: 1.5rem;
  background: rgba(120, 190, 32, 0.1);
  font-size: 14px;
  line-height: 1.25rem;
  display: flex;
  letter-spacing: 0.1px;
  color: #616161;
}

.btn-addworkorder-cancel {
  padding: 0.62rem 1.25rem;
  border-radius: 35px;
  border: none;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #616161;
  letter-spacing: 0.6px;
  border: 1px solid #dadada;
}

.btn-addworkorder-add {
  padding: 0.62rem 31px;
  border-radius: 35px;
  border: none;
  background-color: #65b230;
  line-height: 19px;
  color: #ffffff;
  letter-spacing: 0.6px;
  margin-left: 36px;
}
.modal-body{
  max-height: 80vh;
  overflow: auto;
  .ic_add{
    cursor: pointer;
    align-items: center;
    display: flex;
  }
}