.logo-img {
  width: 7.9rem;
}

.menu-icon {
  margin-left: 7px;
  margin-right: 17px;
}

.menu-list {
  padding: 0px 12px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5rem;
}

.menu-item {
  padding: 0px 12px 0px 12px;
}

.menu-item:hover .dropdown-menu {
  display: block;
}
.menu-item .dropdown-menu {
  display: none;
}
.dropend .dropdown-toggle::after {
  display: none !important;
}

.menubar-icon {
  padding: 10px;
  margin-bottom: 4px;
}
.menu-item:hover {
  .menubar-icon {
    background: #65b230;
    border-radius: 40px;
  }
}

.menu-item.active {
  .menubar-icon {
    background: #65b230;
    border-radius: 40px;
  }
}
#dropdown-basic {
  padding: 8px 0px;
  font-size: 12px;
  line-height: 15.8px;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: normal !important;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;

  .dropdown-item {
    background-color: red;
  }
}
.menu-footer-icon {
  width: 100%;
  text-align: center;
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #65b230;
  position: absolute;
  left: -8px;
  top: 1.5rem;
}
