.logo-img {
  width: 7.9rem;
}

.menu-icon {
  margin-left: 7px;
  margin-right: 17px;
}

.menu-list {
  margin-top: 0.5rem;
  padding: 0px 12px;
}

.menu-item {
  padding: 0px 12px 0px 12px;
}

// #dropdown-basic:focus {
//   background: #78BE20;
//   mix-blend-mode: normal;
// }

.dropend .dropdown-toggle::after {

  display: none !important;
}

.menu-item:hover {
  .menubar-icon{
    background: #78BE20;
    border-radius: 40px;
    padding: 15px;
  }
  // .menubar-name {
  //   color: white;
  // }
}

#dropdown-basic {
  padding: 16px 0px;
  font-size: 12px;
  line-height: 15.8px;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: normal !important;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;

  // .dropdown-menu.show {
  //   background: #78BE20;
  //   mix-blend-mode: normal;
  //   border-radius: 12px;
  //   color: white;
  //   width: 100% !important;
  // }

  .dropdown-item {
    background-color: red;
  }
}