.row {
  width: 100%;
}

.menu-item {
  padding: 0px 0.75rem 0px 0.75rem;
  line-height: 15.8px;
  align-items: center;
  width: 110%;
  white-space: normal !important;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #000;
  }
}

.menu-item:hover .drop-menu {
  display: block;
}
.menu-item .drop-menu {
  display: none;
}
.drop-menu {
  position: absolute;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border: 1px solid #e6e5e5;
  width: 8rem;
  right: -15rem;
  margin-top: 25px;
  margin-right: 196px;
}

.drop-item {
  padding: 0px 26px !important;
  border-bottom: 1px solid #dcdbdb !important;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: rgba(120, 190, 32, 0.3);
  }
}
.logo_img {
  position: relative;
  margin-left: 15px;
  height: 52px;
  background: transparent;
}
.bell-icon {
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 18px;
}
.rounded-circle {
  border-radius: 50% !important;
}
.nav_border {
  border-bottom: 1px solid #dcdbdb !important;
}
