.info-txt{
    font-weight: 300;
    font-size: 0.62rem;
    line-height: 14px;
    color: #49454F;
    margin: 0.75rem 0;
}
.input-checkbox{
    border: 1px solid #79747E;
    width: 18px;
    height: 18px;
    align-self: flex-end;
    display: flex;
    justify-self: flex-end;
}
.checkbox-label{
    margin: 0 !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 19px !important;
    position: initial !important;
    display: flex !important;
    color: #c0c0c0;
    // margin-right: 0.5rem !important;
    // align-self: center !important;
}
.checkbox-container{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    border: 1px solid #79747E;
    border-radius: 4px;
    padding: 12px;
    justify-content: space-between;
    flex: 1;
}
.col-45{
    width: 45% !important;
    flex: 0 0 auto;
}
// input[type="file"] {
//     appearance: none;
//     background-color: initial;
//     cursor: default;
//     align-items: baseline;
//     color: inherit;
//     text-overflow: ellipsis;
//     white-space: pre;
//     text-align: start !important;
//     padding: initial;
//     border: initial;
//     overflow: hidden !important;
// }
// .js .inputfile {
//     width: 0.1px;
//     height: 0.1px;
//     opacity: 0;
//     overflow: hidden;
//     position: absolute;
//     z-index: -1;
// }
// .inputfile + label {
//     max-width: 100%;
//     font-size: 14px;
//     font-weight: 500;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     cursor: pointer;
//     display: inline-block;
//     overflow: hidden;
//     padding: 9px 24px;
//     border: 1px solid #79747E;
//     border-radius: 4px;
// }
// .inputfile + label img {
//     vertical-align: middle;
//     fill: currentColor;
//     margin-top: -0.25em;
//     margin-right: 0.5rem;
// }
// .inputfile-1 + label {
//     color: #616161;
//     background-color: white;
// }

// .inputfile {
// 	width: 0.1px;
// 	height: 0.1px;
// 	opacity: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	z-index: -1;
// }
.icon-info {
    margin-left: 0.5rem;
    cursor: pointer;
    position: relative;
  }
  .tool-tip {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    position: absolute;
    padding: 13px 10px 13px 21px;
    color: #ffff;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    top: -50px;
    left: -50px;
    right: -101px;    
  }
  .icon-info:hover .tool-tip {
    display: block;
  }
  .icon-info .tool-tip {
    display: none;
  }