.info-txt{
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #49454F;
    margin: 12px 0;
}
.input-checkbox{
    border: 1px solid #545454;
    width: 20px;
    height: 20px;
}
.checkbox-label{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: initial;
    display: flex;
    margin-right: 0.5rem;
    align-self: center;
}
.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col-45{
    width: 45% !important;
    flex: 0 0 auto;
}