.btn-back-to-manifest-panel {
  position: absolute;
  left: 0;
  padding: 10px 24px;
  border-radius: 24px;
  border: 1px solid #dadada;
  background: rgba(120, 190, 32, 0.1);
  font-size: 14px;
  line-height: 20px;
  display: flex;
  letter-spacing: 0.1px;
  color: #616161;
  bottom: 0.2rem;
}
.gen-right-section {
  border-left: 1px solid #e4e3e3;
  padding: 23px;
  margin-left: 10px;
  
  .gen-right-container {
    border: 1px dashed #78be20;
    padding: 80px 0px 80px 0px;
    justify-content: center;
    display: flex;
    margin-top: 14px;
    background-color: #F2F9E9;
  }
  .right-head{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  .datails-text{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #ADABAB;  }
}
