@import '../../settings/colors.scss';
//////////// Delivery Option base styles /////////////
.form__radio-group {
   border: 1px solid $colors--primary-border-grey;
   border-radius: 4px;
   width: 30%;
   margin: 0 auto;
   margin-top: 20px;
   font-family: 'Roboto', sans-serif;
   .form__radio-fieldset {
      border: 0;
      padding: 26px 0 23px 14px;
   }

   .form__radio-legend {
      display: none;
   }

   .form__radio-label {
      padding-left: 14px;
      color: $colors--utility-wood-smoke;
      display: flex;
      align-items: center;
   }

   .form__radio-subtitle {
      color: $colors--utility-wood-smoke;
      margin-bottom: 0;
      font-size: 12px;
      margin-top: 6px;
      font-weight: 400;
   }

   .form__label-title {
      margin: 0;
      font-weight: 500;
   }

   .form__radio-input {
      display: none;
   }

   .form__radio-button {
      height: 24px;
      width: 24px;
      border: 1px solid $colors--utility-boulder;
      border-radius: 50%;
      display: inline-block;
      margin-right: 16px;
      background: $colors--utility-wild-stand;
      position: relative;
   }

   .form__radio-button::after {
      content: "";
      display: block;
      width: 14.4px;
      height: 14.4px;
      border-radius: 50%;
      background-color: $colors--utility-wood-smoke;
      opacity: 0;
      position: absolute;
      top: 5px;
      left: 5px;
    }   

   .form__label-container {
      display: flex;
      flex-direction: column;
      margin: 0;
   }

   .form__radio-seperater {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid $colors--primary-border-grey;
      line-height: 0.1em;
      margin: 10px 0 20px;

      &--title {
         background: $colors--utility-white; 
         padding:0 16px; 
         font-size: 15px;
         font-weight: 600;
         color: $colors--utility-wood-smoke;
      }
   }

   .form__radio-fieldset-otheroptions {
      padding-top: 20px;
      .form__radio-label {
         margin-bottom: 32px;
      }

      .form__radio-subtitle-pickup {
         color: $colors--utility-green;
      }

      .form__label-title--showmore {
         color: $colors--utility-science-blue;
         font-size: 12px;
         padding-top: 8px;
      }
   }
   .form__radio-input:checked + .form__radio-label .form__radio-button::after {
      opacity: 1;
   }
}