* {
  font-family: Roboto, sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.eot");
  src: url("assets/fonts/Roboto-Bold.woff") format("woff"),
    url("assets/fonts/Roboto-Bold.ttf") format("truetype"),
    url("assets/fonts/Roboto-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.eot");
  src: url("assets/fonts/Roboto-Regular.woff") format("woff"),
    url("assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("assets/fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border: 1px solid #bbb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
