.filter-input {
    min-height: 40px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CCCBCB;
    border-radius: 33px;
}

.filter-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #063AF0;
    :focus {
        box-shadow: none;
    }
}

.modal{
    position: fixed;
    top: 0;
    left: auto !important;
    right: 0 !important;
    z-index: 1055;
    display: none;
    width: auto !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    .modal-body{
        width: 441px;
    }
    .modal-header{
        background: #78BE20;
        height: 45px;
        .modal-title{
            font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: white;
        }
        .btn-close{
            color: white;
            border: 3px solid black;
            opacity: 1;
            border-radius: 100px !important;
            padding: 5px;
        }
    }
    

}