.footer {
    height: 141px;
    line-height: 12px;
    padding:67px 38px;
    font-weight:600; 
    font-size: 9px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    background: #F0F1F2;
  }
  
  .footer-link{
    color: #337AB7;
    margin-right: 15px;
  }
  