.footer {
  height: 141px;
  line-height: 12px;
  padding: 67px 38px;
  font-weight: 600;
  font-size: 9px;
  letter-spacing: 0.5px;
  background: #f0f1f2;
}

.footer-link {
  color: #337ab7;
  margin-right: 15px;
}
