.left-container {
  border-right: 1px solid #dcdcdc;
  
  display: flex;
  flex: 1;
  background: linear-gradient(90deg, #ffffff 93.75%, #e0e0e0 100%);
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.08);
  flex-direction: column;
}

.footer-container {
  font-size: 0.62rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}
.body {
  background-color: chartreuse;
  // background-image: url('src\assets\icon\swiftwinlogo.png');
}